{% extends 'body.html' %}
{% block body %}


        <div class="right2 w-full flex flex-col items-center h-fit">
            {% for chat in myChatsTitles %}
                <div class="box1 m-auto py-7 flex justify-start w-[40vw] items-center space-x-6">
                    <img class="w-9"
                        src="https://chat.openai.com/_next/image?url=https%3A%2F%2Flh3.googleusercontent.com%2Fa%2FAAcHTtdFlxf0nxXGorOHcK6gAWJjY1Yg2acHs_06d7kvtu_s%3Ds96-c&w=96&q=75"
                        alt="">
                    <div id="question2">{{chat.question}}</div>
                </div>
                <div class="box2 bg-gray-600 py-7 flex justify-center w-full items-center">
                    <div class="box w-[40vw] flex justify-start space-x-6">
                        <img class="w-9 h-9" src="https://chat.openai.com/favicon.ico" alt="">
                        <div class="flex space-y-4 flex-col">
                            <div id="solution">{{chat.answer}}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}


{% endblock body %}
